html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  height: 100%; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Poppins', 'Arial', sans-serif;
  margin: 0; }

.wrapper {
  align-items: stretch;
  display: flex; }
  @media (max-width: 799px) {
    .wrapper {
      flex-direction: column; } }

.aside {
  background-color: #282d32;
  flex-basis: 150px;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 10px; }
  @media (max-width: 799px) {
    .aside {
      align-items: center;
      background-color: #282d32;
      display: flex;
      flex-basis: auto;
      height: 70px;
      justify-content: space-between;
      padding: 10px 20px;
      position: relative;
      width: 100%; } }
  .aside .logo {
    color: #4cb480;
    font-size: 32px;
    line-height: 1;
    margin-bottom: 65px;
    padding-top: 45px;
    position: relative;
    text-align: center;
    text-transform: uppercase; }
    @media (max-width: 799px) {
      .aside .logo {
        margin-bottom: 0;
        padding-top: 0; } }
  .aside .logo:after {
    background: #4cb480;
    bottom: -9px;
    content: "";
    display: block;
    height: 4px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 25px; }
  .aside .search-icon {
    padding: 20px 0;
    text-align: center; }
    @media (max-width: 799px) {
      .aside .search-icon {
        padding: 0; } }
  .aside .search-icon svg {
    fill: white;
    height: 28px;
    width: 28px; }
    @media (max-width: 799px) {
      .aside .search-icon svg {
        display: block;
        height: 25px;
        width: 25px; } }

.nav {
  padding-top: 20px;
  position: relative; }
  @media (max-width: 799px) {
    .nav {
      order: 3;
      padding-top: 0;
      position: static; } }
  .nav::before, .nav::after {
    background-color: white;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    opacity: 0.2;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 90px; }
    @media (max-width: 799px) {
      .nav::before, .nav::after {
        display: none; } }
  .nav--footer::before, .nav--footer::after {
    display: none; }
  .nav::after {
    bottom: -20px;
    top: auto; }
  .nav__list {
    list-style: none;
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    text-align: center; }
    .nav--footer .nav__list {
      display: flex;
      margin-bottom: 0; }
    @media (max-width: 799px) {
      .nav:not(.nav--footer) .nav__list {
        background-color: #282d32;
        left: 0;
        width: 100%; } }
    .nav__list-item {
      display: block;
      margin-bottom: 35px; }
      .nav--footer .nav__list-item {
        padding-right: 30px; }
      .nav__list-item a {
        color: white;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 1;
        text-decoration: none;
        text-transform: uppercase; }
        .nav__list-item a:hover {
          text-decoration: underline; }
  .nav svg {
    display: block;
    fill: #fff; }

.toggle-icon {
  cursor: pointer;
  display: none; }
  @media (max-width: 799px) {
    .toggle-icon {
      display: block; } }

.toggle-button {
  display: none;
  height: 0;
  visibility: hidden;
  width: 0; }
  @media (max-width: 799px) {
    .toggle-button ~ .nav__list {
      display: none; } }
  .toggle-button:checked ~ ul {
    display: block; }

.footer {
  background: #353a3f; }
  .footer > div {
    align-items: center;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 799px) {
      .footer > div {
        flex-direction: column; } }
  .footer__copywrite {
    color: white; }

.main-content {
  flex-grow: 1; }

.main-content-wrap {
  max-width: 1450px;
  padding: 120px; }
  @media (max-width: 1599px) {
    .main-content-wrap {
      padding: 60px; } }
  @media (max-width: 799px) {
    .main-content-wrap {
      padding: 40px 20px; } }

.main-content-xl-p {
  padding: 230px 325px 200px; }
  @media (max-width: 1599px) {
    .main-content-xl-p {
      padding: 115px 160px 100px; } }
  @media (max-width: 799px) {
    .main-content-xl-p {
      padding: 40px 30px; } }

.hero {
  background: #353A3F;
  color: #fff; }
  .hero__title {
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 3px;
    padding-bottom: 45px;
    text-transform: uppercase; }
    @media (max-width: 799px) {
      .hero__title {
        font-size: 32px; } }
  .hero__subtitle {
    font-size: 32px;
    padding-bottom: 20px;
    text-transform: uppercase; }
    @media (max-width: 799px) {
      .hero__subtitle {
        font-size: 24px; } }
  .hero__content {
    color: #939698;
    font-size: 22px;
    line-height: 1.6;
    padding-bottom: 50px; }
    @media (max-width: 799px) {
      .hero__content {
        font-size: 18px; } }

.blog__heading {
  font-size: 45px;
  font-weight: bold;
  letter-spacing: 1px;
  padding-bottom: 70px;
  text-transform: uppercase; }
  @media (max-width: 799px) {
    .blog__heading {
      font-size: 32px;
      padding-bottom: 30px; } }

.blog__content {
  display: flex;
  flex-direction: column; }

.post-preview {
  display: flex;
  margin-bottom: 60px; }
  @media (max-width: 1599px) {
    .post-preview {
      flex-direction: column; } }
  .post-preview__desc {
    padding: 35px 20px 20px 80px; }
    @media (max-width: 1599px) {
      .post-preview__desc {
        padding-left: 0; } }
  .post-preview__title {
    font-size: 30px;
    padding-bottom: 20px;
    text-transform: uppercase; }
  .post-preview__text {
    font-size: 18px;
    line-height: 1.68;
    padding-bottom: 30px; }
  .post-preview:last-child {
    margin-bottom: 0; }
  .post-preview__img {
    border-radius: 5px;
    flex-basis: 565px;
    flex-shrink: 0;
    overflow: hidden; }
    @media (max-width: 1599px) {
      .post-preview__img {
        flex-basis: auto;
        max-width: 565px; } }
    .post-preview__img > img {
      display: block;
      height: 330px;
      object-fit: cover;
      width: 100%; }

.services {
  display: flex;
  padding: 0 90px; }
  .services > .item {
    background-color: #808080;
    border-radius: 6px;
    margin: 0 30px;
    margin-top: 60px;
    min-width: 290px;
    padding: 0 62px;
    position: relative; }
  .services .item-title {
    color: #353a3f;
    font-size: 30px;
    text-transform: uppercase; }
  .services .icon {
    align-items: center;
    background: #fff;
    border-radius: 50%;
    display: flex;
    height: 110px;
    justify-content: center;
    left: 50%;
    position: absolute;
    top: -55px;
    transform: translateX(-50%);
    width: 110px; }
    .services .icon svg {
      fill: #4cb480;
      width: 40px; }
  .services .content {
    padding-top: 40px; }

@media (max-width: 1200px) {
  .services {
    flex-direction: column; } }

.btn {
  background: #4bae7c;
  border: 0;
  border-radius: 28px;
  color: #fff;
  font-size: 17px;
  height: 55px;
  line-height: 55px;
  padding: 0 35px;
  text-transform: uppercase; }
  .btn.btn-lg {
    border-radius: 30px;
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    padding: 0 60px; }

.social-icons__list {
  display: flex;
  margin: 0;
  padding: 0; }
  .social-icons__list-item {
    margin: 0 10px; }

.social-icons svg {
  display: block;
  fill: white;
  width: 35px; }
