.aside {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 150px;
  background-color: #282d32;
  padding: 10px; }
  @media (max-width: 640px) {
    .aside {
      display: flex;
      flex-basis: auto;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      background-color: #282d32;
      position: relative;
      height: 70px;
      padding: 10px 20px; } }

.search-icon {
  padding: 20px 0;
  text-align: center; }
  @media (max-width: 640px) {
    .search-icon {
      padding: 0; } }

.search-icon svg {
  fill: white;
  height: 28px;
  width: 28px; }
  @media (max-width: 640px) {
    .search-icon svg {
      display: block;
      height: 25px;
      width: 25px; } }

.nav {
  position: relative;
  padding-top: 20px; }
  @media (max-width: 640px) {
    .nav {
      padding-top: 0;
      position: static;
      order: 3; } }
  .nav::before, .nav::after {
    display: block;
    opacity: .2;
    content: "";
    width: 90px;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); }
    @media (max-width: 640px) {
      .nav::before, .nav::after {
        display: none; } }
  .nav::after {
    top: auto;
    bottom: 0; }
  .nav__list {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    padding: 20px 0;
    margin-bottom: 25px; }
    @media (max-width: 640px) {
      .nav__list {
        position: absolute;
        background-color: #282d32;
        width: 100%;
        left: 0; } }
    .nav__list-item {
      margin-bottom: 25px; }
      .nav__list-item a {
        color: white;
        font-size: 16px;
        line-height: 1;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-decoration: none; }
        .nav__list-item a:hover {
          text-decoration: underline; }
  .nav svg {
    display: block;
    fill: #fff; }

.toggle-icon {
  cursor: pointer;
  display: none; }
  @media (max-width: 640px) {
    .toggle-icon {
      display: block; } }

.toggle-button {
  width: 0;
  height: 0;
  visibility: hidden;
  display: none; }
  @media (max-width: 640px) {
    .toggle-button ~ .nav__list {
      display: none; } }
  .toggle-button:checked ~ ul {
    display: block; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Poppins', 'Arial', sans-serif; }

.wrapper {
  display: flex;
  align-items: stretch; }
  @media (max-width: 640px) {
    .wrapper {
      flex-direction: column; } }

.main-content {
  padding: 10px; }

.content-wrap {
  max-width: 1450px;
  padding: 0 20px; }

.logo {
  line-height: 1;
  padding-top: 45px;
  margin-bottom: 65px;
  text-align: center;
  position: relative;
  font-size: 32px;
  color: #4cb480;
  text-transform: uppercase; }
  @media (max-width: 640px) {
    .logo {
      margin-bottom: 0;
      padding-top: 0; } }

.logo:after {
  display: block;
  content: "";
  width: 25px;
  height: 4px;
  background: #4cb480;
  position: absolute;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%); }

.wrap {
  padding: 10px;
  background: burlywood;
  border: 2px solid #000;
  max-width: 600px; }

.wrap .item {
  border: 2px solid red;
  padding: 5px;
  color: white;
  margin-bottom: 10px;
  width: 100px; }

.item2 {
  background-color: chartreuse;
  position: relative; }

.item3 {
  background-color: brown; }

.item4 {
  background-color: blue; }

@media (max-width: 640px) {
  .main-content {
    margin-left: 0;
    padding: 10px; } }

.post-preview {
  display: flex;
  margin-bottom: 30px; }

.post-preview__desc {
  padding: 20px 20px 20px 40px; }

.post-preview:last-child {
  margin-bottom: 0; }

.post-preview__img {
  flex-basis: 565px;
  flex-shrink: 0; }

.post-preview__img img {
  display: block;
  object-fit: cover;
  height: 360px;
  width: 100%; }

.blog {
  padding: 40px; }
  .blog__heading {
    text-transform: uppercase;
    font-size: 44px; }

.services {
  display: flex;
  padding: 0 90px; }
  .services > .item {
    border-radius: 6px;
    background-color: #808080;
    margin: 0 30px;
    padding: 0 62px;
    position: relative;
    margin-top: 60px;
    min-width: 290px; }
  .services .item-title {
    text-transform: uppercase;
    font-size: 30px;
    color: #353a3f; }
  .services .icon {
    background: #fff;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translateX(-50%); }
    .services .icon svg {
      width: 40px;
      fill: #4cb480; }
  .services .content {
    padding-top: 40px; }

@media (max-width: 1200px) {
  .services {
    flex-direction: column; } }
