doctype html
html(lang="en")
  head
    title= "title"
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='./fonts.css')
    link(rel="stylesheet", href="./styles.css")
  body
    .wrapper

        include ../components/aside

        .main-content
            include ../components/hero
            include ../components/blog
            include ../components/footer

