.aside {
    width: 150px;
    background-color: #282d32;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    padding: 10px;

    @media (max-width: 640px) {
            width: 100%;
            background-color: #282d32;
            position: relative;
            height: auto;
            padding: 10px;
    }

}