* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'Arial', sans-serif;
    margin: 0;
}

.wrapper {
    align-items: stretch;
    display: flex;

    @media (max-width: 799px) {
        flex-direction: column;
    }
}
