* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', 'Arial', sans-serif;
}

.wrapper {
    display: flex;
    align-items: stretch;

    @media (max-width: 640px) {
        flex-direction: column;
    }
}


.main-content {
    padding: 10px;
}

.content-wrap {
    max-width: 1450px;
    padding: 0 20px;
}

.logo {
    line-height: 1;
    padding-top: 45px;
    margin-bottom: 65px;
    text-align: center;
    position: relative;
    font-size: 32px;
    color: #4cb480;
    text-transform: uppercase;
    
    @media(max-width: 640px) {
        margin-bottom: 0;
        padding-top: 0;
    }
}

.logo:after {
    display: block;
    content: "";
    width: 25px;
    height: 4px;
    background: #4cb480;
    position: absolute;
    bottom: -9px;
    left: 50%;
    transform: translateX(-50%);
}

.wrap {
    padding: 10px;
    background: burlywood;
    border: 2px solid #000;
    max-width: 600px;
}

.wrap .item {
    border: 2px solid red;
    padding: 5px;
    color: white;
    margin-bottom: 10px;
    width: 100px;
}

.item2 {
    background-color: chartreuse;
    position: relative;
}


.item3 {
    background-color: brown;
}


.item4 {
    background-color: blue;
}

@media (max-width: 640px) {

    .main-content {
        margin-left: 0;
        padding: 10px;
    }
}



.post-preview {
    display: flex;
    margin-bottom: 30px;
}

.post-preview__desc {
    padding: 20px 20px 20px 40px;
}

.post-preview:last-child {
    margin-bottom: 0;
    //
}

.post-preview__img {
    flex-basis: 565px;
    flex-shrink: 0;
}

.post-preview__img img {
    display: block;
    object-fit: cover;
    height: 360px;
    width: 100%;
}
