.aside
  .logo
    | SDS
  nav.nav
    label.toggle-icon(for='toggle-button')
      svg(enable-background='new 0 0 24 24' height='30' viewbox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
        g
          path(d='m21.5 24h-19c-1.379 0-2.5-1.122-2.5-2.5v-19c0-1.378 1.121-2.5 2.5-2.5h19c1.379 0 2.5 1.122 2.5 2.5v19c0 1.378-1.121 2.5-2.5 2.5zm-19-23c-.827 0-1.5.673-1.5 1.5v19c0 .827.673 1.5 1.5 1.5h19c.827 0 1.5-.673 1.5-1.5v-19c0-.827-.673-1.5-1.5-1.5z')
        g
          path(d='m16.5 8h-9c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h9c.276 0 .5.224.5.5s-.224.5-.5.5z')
        g
          path(d='m16.5 12.5h-9c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h9c.276 0 .5.224.5.5s-.224.5-.5.5z')
        g
          path(d='m16.5 17h-9c-.276 0-.5-.224-.5-.5s.224-.5.5-.5h9c.276 0 .5.224.5.5s-.224.5-.5.5z')
    input#toggle-button.toggle-button(type='checkbox')
    ul.nav__list
      li.nav__list-item
        a(href='#') Work
      li.nav__list-item.nav__list-item--active
        a(href='#') About
      li.nav__list-item
        a(href='#') Services
      li.nav__list-item
        a(href='#') Blog
      li.nav__list-item
        a(href='#') Contact
  .serch
    .search-icon
      svg.svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 512 512')
        path(d='M505.7 475.6l-145.6-145.6c28.2-34.8 45.2-79.1 45.2-127.3 0-111.7-90.9-202.7-202.7-202.7S0 90.9 0 202.7s90.9 202.7 202.7 202.7c48.2 0 92.5-17 127.3-45.2l145.6 145.6c4.2 4.2 9.6 6.3 15.1 6.3s10.9-2.1 15.1-6.3C514.1 497.4 514.1 483.9 505.7 475.6zM202.7 362.7c-88.2 0-160-71.8-160-160s71.8-160 160-160 160 71.8 160 160S290.9 362.7 202.7 362.7z')
