.blog
  .main-content-wrap
    .blog__heading
      | From the blog
    .blog__content
      .post-preview
        .post-preview__img
          img(src='https://fakeimg.pl/640x120/282828/eae0d0/?retina=1')
        .post-preview__desc
          h3.post-preview__title
            | Lorem ipsum dolor sit.
          p.post-preview__text
            | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint quae voluptatum delectus
            | molestias, earum magnam modi voluptates vero consequuntur! Atque neque illum, at quam assumenda
            | magni dicta itaque distinctio
          .post-preview__actions
            button.btn
              | Read more
      .post-preview
        .post-preview__img
          img(src='https://fakeimg.pl/440x820/282828/eae0d0/?retina=1')
        .post-preview__desc
          h3.post-preview__title
            | Lorem ipsum dolor sit.
          p.post-preview__text
            | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint quae voluptatum delectus
            | molestias, earum magnam modi voluptates vero consequuntur! Atque neque illum, at quam assumenda
            | magni dicta itaque distinctio
          .post-preview__actions
            button.btn
              | Read more
      .post-preview
        .post-preview__img
          img(src='https://fakeimg.pl/640x620/282828/eae0d0/?retina=1')
        .post-preview__desc
          h3.post-preview__title
            | Lorem ipsum dolor sit.
          p.post-preview__text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, eveniet itaque?
            | Ducimus facere reiciendis ea corrupti quas maiores odit. Delectus! Atque neque illum, at quam assumenda
            | magni dicta itaque distinctio
          .post-preview__actions
            button.btn
              | Read more