.hero
  .main-content-wrap.main-content-xl-p
    h1.hero__title
      | Title of the page
    .hero__subtitle
      | Subtitle
    .hero__content
      | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint quae voluptatum delectus
      | molestias, earum magnam modi voluptates vero consequuntur! Atque neque illum, at quam assumenda
      | magni dicta itaque distinctio esse fugit quibusdam tempora omnis dolorum?
    .hero__actions
      button.btn.btn-lg(type='button') Button
